.linkContainer {
	display: flex;
	align-items: center;
	height: 3rem;
	gap: 2rem;
}

.linkContainer a {
	padding: 1.5rem;
	text-transform: capitalize;
	color: #000;
	text-decoration: none;
}

#active {
	border-right: solid 5px #ee7f00;
}

/* #active img {
  filter: opacity(1) drop-shadow(blue);
} */

#active a {
	color: #ee7f00;
	font-weight: 600;
}

.dropdownLinkContainer {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.dropdownLink {
	margin-left: 2rem;
	display: flex;
	gap: 2rem;
	align-items: center;
}

.dropdownLink a {
	text-decoration: none;
	color: #8c92ab;
}

/* .icon {
  width: 20px;
  height: 20px;
}
*/
